services:
  - type: web
    name: personal-doctor-backend
    env: python
    region: singapore
    buildCommand: |
      pip install --upgrade pip && \
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: APP_ENV
        value: production
      - key: DEBUG
        value: "false"
      - key: CORS_ORIGINS
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: APP_AES_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: NCBI_API_KEY
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
